/* Full card background like Add Expense */
.expense-card {
  background: linear-gradient(90deg, #90caf9, #42a5f5) !important; /* soft blue */
  padding: 1.5rem;
  border-radius: 15px;
  max-width: 1000px;
  margin: 2rem auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Title */
mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

/* Divider */
mat-divider {
  margin-bottom: 20px;
  background-color: #666;
}

/* Table styling */
.table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
}

/* Table base */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: white; /* soft grey */
}

/* Header cells */
th {
  background-color: #f08080; /* soft pink */
  color:#0d47a1 !important;
  font-weight: bold;
  padding: 12px;
}

/* Data cells */
td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  color: #0d47a1 !important;
}

/* Hover effect */
tr:hover {
  background-color: #d3ebf5;
}

button[color="primary"] {
  background-color: #1976d2;
  color: white;
}

button[color="warn"] {
  background-color: #d32f2f;
  color: white;
}

/* Paginator styling (optional) */
mat-paginator {
  margin-top: 20px;
}
.mat-mdc-paginator {
  background-color: white !important; /* light blue shade */
  color:#0d47a1 !important; /* optional: to change text color */
  border-radius: 10px; /* optional: for curve */
}



.search-bar mat-label {
  color: #1e88e5 !important; /* theme blue label */
  font-weight: 500;
}

.search-bar input.mat-input-element {
  color: #0d47a1 !important;
  font-weight: 500;
}


.search-bar mat-icon {
  color: #1e88e5;   /* blue search icon */
}
